@import "tailwindcss";

html {
  font-size: 62.5%;
}

:root {
  --background: #e2e2e2;
  --foreground: #292929;

  --text-tiny: 1rem;
  --text-small: 1.2rem;
  --text-base: 1.4rem;
  --text-button: 1.6rem;
  --text-subheading: 1.8rem;
  --text-body: 2rem;
  --text-large: 2.2rem;
  --text-xl: 2.4rem;
  --text-heading: 2.6rem;
  --text-title: 3.2rem;

  --primary: #34b53a;
  --secondary: #4339f2;
  --success: #00c951;
  --info: #02a0fc;
  --danger: #ff3a29;
  --warning: #ffb200;

  --dark-gray: #323232;
  --gray: #525252;
  --light-gray: #c2c2c2;
  --tint-gray: #cfcfcf;

  --primary-light: #e2fbd7;
  --secondary-light: #dad7fe;
  --success-light: #66df97;
  --info-light: #ccf8fe;
  --danger-light: #ffe5d3;
  --warning-light: #fff5cc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-figtree: var(--font-figtree-sans);
  --font-instrument: var(--font-instrument-sans);


  --text-tiny: var(--text-tiny);
  --text-small: var(--text-small);
  --text-base: var(--text-base);
  --text-button: var(--text-button);
  --text-subheading: var(--text-subheading);
  --text-body: var(--text-body);
  --text-large: var(--text-large);
  --text-xl: var(--text-xl);
  --text-heading: var(--text-heading);
  --text-title: var(--text-title);

  --text-primary: var(--primary);
  --text-secondary: var(--secondary);
  --text-success: var(--success);
  --text-info: var(--info);
  --text-danger: var(--danger);
  --text-warning: var(--warning);
  --text-dark-gray: var(--dark-gray);
  --text-gray: var(--gray);
  --text-light-gray: var(--light-gray);
  --text-tint-gray: var(--tint-gray);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-info: var(--info);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-dark-gray: var(--dark-gray);
  --color-gray: var(--gray);
  --color-light-gray: var(--light-gray);
  --color-tint-gray: var(--tint-gray);

  --color-primary-light: var(--primary-light);
  --color-secondary-light: var(--secondary-light);
  --color-success-light: var(--success-light);
  --color-info-light: var(--info-light);
  --color-danger-light: var(--danger-light);
  --color-warning-light: var(--warning-light);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: var(--text-base);
}

label {
  font-size: 1.2rem;
}

button {
  cursor: pointer;
}

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.96) translateY(4px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.pop-in {
  animation: pop-in 0.2s ease-out both;
}
